
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Nunito:ital@1&display=swap');

@font-face {
    font-family: "Pastor of Muppets";
    src: url("Fonts/Pastor of Muppets.TTF") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul{
    margin:0;
    }
    
.nav li {
    display: inline;
    }
    
.nav a {
    padding: .5em;
    color: white;
    text-decoration: none;
    display: inline-block;
    }

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li{
    padding: 0 5%;
}

.main-header {
    background-image: url(Image/ea7e05d9-b961-4cae-8a3d-35b519c8d999.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.band-name {
    text-align: center;
    margin:0;
    font-size: 4em;
    font-family: "Pastor of Muppets";
    font-weight: normal;
    color:white;
}

.band-name-large {
    position: relative;
    font-size: 10em;
    text-align: center;
}


.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em; 
}

.section-header {
    font-family: 'Metal Mania', cursive;
    font-weight: normal;
    color:#333;
    text-align: center;
    font-size: 3em;
}

.main-footer {
    background-color: rgb(22, 22, 22);
    color: white;
    padding: .25em 0;
    height: 80px;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li{
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.container-footer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1.5em; 
}

.QLink-container {
    margin-top: 7em;
    margin-bottom: 4em;
}

.QLink-container span{
    font-size: 1.5em;
    color: black;
}

.QLink-container a {
    display: inline-block;
    color: rgb(24, 24, 24);
    font-family: 'Metal Mania';
    font-size: 1.4em;
    text-decoration: none;
    margin-top: 1%;
}

.QLink-container a:hover {
    background-color: rgb(0, 0, 0, .2);
    transform: scale(120%);
}

/* end of about css */
                /* index/home css */

.button {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
}

.button-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid rgb(216, 216, 216);
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.button-header:hover {
    background-color: rgba(255, 255, 255, .3)
}

.button-play {
    display: block;
    margin: 0 auto;
    font-size: 4em;
    border-radius: 50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%
}

.tour-button {
    max-width: 19%;
}

.button-primary {
    color: white;
    background-color: rgb(56, 56, 56);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.button-primary:hover {
    background-color: rgb(22, 22, 22);
}

        /* end of index/home.css */
        /* Store.css */
